---
import Cobe from "@components/cobe.astro";
import Link from "@components/ui/link.astro";
import abstractDottedGlobeIllustration from "assets/abstract-dotted-globe-illustration.png";
import { Image } from "astro:assets";
import { t } from "i18next";

const { dynamic = false } = Astro.props;
---

<div class="relative isolate pt-14 darkDISABLEDbg-stone-950">
	<div class="sm:pt-10">
		<div class="mx-auto max-w-7xl">
			<div class="mx-auto max-w-2xl text-center">
				<h1 class="text-4xl font-bold tracking-tight text-black darkDISABLEDtext-white sm:text-6xl">{t("hero.title")}</h1>
				<p class="mt-6 text-lg leading-8 text-gray-900 darkDISABLEDtext-gray-100">
					{t("hero.subtitle")}
				</p>
				<div class="mt-10 flex items-center justify-center gap-x-2 md:gap-x-6">
					<Link href="https://github.com/zankhq/astros">{t("hero.main_button_text")}</Link>
					{
						dynamic ? (
							<Link href="/" style="muted">
								{t("hero_animated.secondary_button_text")}
								<span aria-hidden="true" class="pl-1 text-black darkDISABLEDtext-white">
									→
								</span>
							</Link>
						) : (
							<Link href="/animated" style="muted">
								{t("hero.secondary_button_text")}
								<span aria-hidden="true" class="pl-1 text-black darkDISABLEDtext-white">
									→
								</span>
							</Link>
						)
					}
				</div>
			</div>
		</div>
	</div>
</div>

<style>
	@keyframes slide {
		0% {
			left: calc(50% - 70rem);
			transform: rotate(0deg);
		}
		50% {
			left: calc(50% - 30rem);
			transform: rotate(-180deg);
		}
		100% {
			left: calc(50% - 70rem);
			transform: rotate(0deg);
		}
	}

	.animate-slide {
		animation: slide 25s infinite;
	}
</style>
